[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/selenium-on-rails"]
	path = vendor/plugins/selenium-on-rails
	url = git://github.com/bryanlarsen/selenium-on-rails.git
